<h1 mat-dialog-title>Додавання авто</h1>

<div mat-dialog-content>

	<form [formGroup]="form">

		<mat-form-field appearance="outline">
			<mat-label>Номерний знак</mat-label>
			<input formControlName="sign" matInput placeholder="Введіть номерний знак">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Модель авто</mat-label>
			<input formControlName="model" matInput placeholder="Введіть модель">
			</mat-form-field>
			
			<mat-form-field appearance="outline">
				<mat-label>Яке призначення</mat-label>
				<input formControlName="appointment" matInput placeholder="Призначення">
			</mat-form-field>
			
			<!-- <mat-form-field appearance="outline">
																								<mat-label>Модель</mat-label>
																								<mat-select formControlName="model" placeholder="Виберіть модель авто">
				<mat-option [value]="'Компьютеры'">Компьютеры</mat-option>
				<mat-option [value]="'Ноутбуки'">Ноутбуки</mat-option>
				<mat-option [value]="'Планшеты'">Планшеты</mat-option>
				<mat-option [value]="'Мониторы'">Мониторы</mat-option>
				<mat-option [value]="'Серверы'">Серверы</mat-option>
				<mat-option [value]="'Акустика'">Акустика</mat-option>
				<mat-option [value]="'Оргтехника'">Оргтехника</mat-option>
			</mat-select>
		</mat-form-field> -->
		
		<mat-form-field appearance="outline">
			<mat-label>Дата в'їзду</mat-label>
			<input formControlName="comeDate" matInput [matDatepicker]="picker1">
			<mat-hint>дата/місяць/рік</mat-hint>
			<mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
			<mat-datepicker #picker1></mat-datepicker>
		</mat-form-field>
		
		<mat-form-field appearance="outline">
			<mat-label>Дата виїзду</mat-label>
			<input formControlName="outDate" matInput [matDatepicker]="picker2">
			<mat-hint>дата/місяць/рік</mat-hint>
			<mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
			<mat-datepicker #picker2></mat-datepicker>
		</mat-form-field>

		<div fxLayout="row">
			<div *ngIf="!dateOnly" [formGroup]="timeFormGroup">
				<mat-form-field>
					<input matInput [ngxTimepicker]="endTime" [format]="24" placeholder="{{placeholderTime}}"
						formControlName="endTime" />
				</mat-form-field>
				<ngx-material-timepicker #endTime (timeSet)="timeChange($event)" [minutesGap]="10"></ngx-material-timepicker>
			</div>
			<div>
				<mat-form-field>
					<input id="pickerId" matInput [matDatepicker]="datepicker" placeholder="{{placeholderDate}}"
						[formControl]="dateForm" [min]="config.minDate" [max]="config.maxDate" (dateChange)="dateChange($event)">
					<mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
					<mat-datepicker #datepicker [disabled]="disabled" [touchUi]="config.touchUi" startView="{{config.startView}}">
					</mat-datepicker>
				</mat-form-field>
			</div>
		</div>
		<!-- <label id="example-radio-group-label">
			<h2>Состояние товара</h2>
		</label>
		<mat-radio-group formControlName="productCondition" aria-labelledby="example-radio-group-label"
			class="example-radio-group">
			<mat-radio-button class="example-radio-button" *ngFor="let el of productConditionList" [value]="el">
				{{el}}
			</mat-radio-button>
		</mat-radio-group> -->

		<!-- <mat-form-field appearance="outline">
			<mat-label>Цена, $</mat-label>
			<input formControlName="price" matInput placeholder="Цена товара..." type="number">
		</mat-form-field> -->

		<!-- <mat-form-field appearance="outline">
			<mat-label>Дополнительно</mat-label>
			<textarea formControlName="comment" cdkAutosizeMaxRows="5" cdkAutosizeMinRows="1" cdkTextareaAutosize
				matInput></textarea>
		</mat-form-field> -->

		<div [align]="'end'" mat-dialog-actions>
			<button mat-dialog-close="" mat-raised-button>Отмена</button>
			<button (click)="editData ? updateProduct() : addProduct()" [disabled]="form.invalid" color="accent"
				mat-raised-button>{{editData ? 'Изменить' : 'Сохранить'}}</button>
		</div>
	</form>

</div>