<div class="container">
	<mat-toolbar>
		<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
			<mat-icon>home</mat-icon>
		</button>
		<span>Журнал проезда</span>
		<span class="example-spacer"></span> <button (click)="createProduct()" mat-button color="accent">Добавить
			авто</button>
	</mat-toolbar>
</div>

<div class="container">
	<mat-form-field>
		<mat-label>Фильтр данных</mat-label>
		<input matInput (keyup)="applyFilter($event)" placeholder="Поиск" #input>
	</mat-form-field>
	<div class="mat-elevation-z8">
		<table mat-table [dataSource]="dataSource" matSort>
			<ng-container matColumnDef="sign">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Номер</th>
				<td mat-cell *matCellDef="let row"> {{row.sign}} </td>
			</ng-container>

			<ng-container matColumnDef="model">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Модель авто</th>
				<td mat-cell *matCellDef="let row"> {{row.model}} </td>
			</ng-container>

			<ng-container matColumnDef="appointment">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Призначення</th>
				<td mat-cell *matCellDef="let row"> {{row.appointment}} </td>
			</ng-container>

			<ng-container matColumnDef="date">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Дата та час</th>
				<td mat-cell *matCellDef="let row"> {{row.date | date: "dd.MM.yyyy"}} </td>
			</ng-container>

			<ng-container matColumnDef="date">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Дата та час</th>
				<td mat-cell *matCellDef="let row"> {{row.date | date: "dd.MM.yyyy"}} </td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Действия</th>
				<td mat-cell *matCellDef="let row">
					<button color="primary" mat-icon-button (click)="updateProduct(row)">
						<mat-icon>edit</mat-icon>
					</button>
						<button color="warn" mat-icon-button (click)="deleteProduct(row.id)">
							<mat-icon>delete</mat-icon>
						</button>
					</td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					<tr class="mat-row" *matNoDataRow>
						<td class="mat-cell" colspan="4">Данные по фильтру "{{input.value}}" не найдены </td>
					</tr>
					</table>
					<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
					</div>
		</div>