// .example-spacer {
// }

.container {
	max-width: auto;
	// margin: auto;
	// padding: 20px;
}

table {
	width: 100%;
}

.mat-mdc-form-field {
	font-size: 14px;
	width: 100%;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-mdc-button-touch-target {
  width: 30%;
}

.top-title {
  width: 30%;
}

.mdc-button--raised {
  width: 200px;
  margin: 0 auto;
}